@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* Header */
header{
    height: 635px;
    padding: 42px 121px 0 156px;
    background-color: #2D25A0;
}
nav{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 49px;
}
#menu{
    width: 600px;
    display: flex;
    justify-content: space-between;
}
#menu a{
    text-decoration: none;
    color: #FFFFFF;
    transition: font 1s ease;
}
#menu a:hover{
    color: rgb(200, 200, 200);
}
.button{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
}
.button .fa-sign-in-alt{
    margin-right: 8px;
}
/* Banner/Introduction Section */
#introduction{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width h2{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 700;
}
.half-width.banner{
    margin-left: 102px;
}
.button .fa-arrow-right{
    margin-left: 8px;
}
.half-width img{
    width: 100%;
}
/* Main */
/* Players */
main{
    padding: 70px 180px 0 180px;
}
#players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 28px;
    grid-row-gap: 27px;
}
.player{
    height: 425px;
    width: 280px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 100%;
}
.player-name{
    margin: 16px 0 10px 0;
    font-weight: 700;
    font-size: 28px;
}
.player-description{
    color: #6C6C6C;
    font-size: 16px;
}
/* All Highlights */
#highlights{
    display: flex;
    margin-top: 165px;
}
#highlights h2{
    color: black;
    font-weight: bold;
    font-size: 48px;
}
#highlights p{
    font-size: 16px;
    color: #6C6C6C;
}
.watch-now{
    display: inline-block;
    margin-top: 24px;
}
.half-width.match{
    margin-left: 66px;
}
.half-width.match img{
    height: 100%;
}
/* Youtube Video Section */
#youtube-video{
    margin-top: 85px;
    display: flex;
    justify-content: center;
}
.full-container{
    width: 100%;
}

/* Sponsore Section */
#sponsor{
    margin-top: 70px;
}
#sponsor h3{
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    margin: 0 0 35px 0;
}
#sponsores-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
#sponsores-list img{
    width: 100%;
}
/* Footer */
footer{
    display: flex;
    justify-content: center;
}
#footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 158px 0 63px 0;
    height: 213px;
    width: 483px;
}
#footer-container img{
    width: 100%;
}
#social-media-icons{
    width: 210px;
    display: flex;
    justify-content: space-between;
}
#social-media-icons i{
    border-radius: 50%;
    font-size: 17px;
    padding: 10px;
    background-color: #ebecf1;
    color:#969bab;

}
footer p{
    font-weight: 400px;
    font-size: 18px;
}